
/*  Body Styling */

body {  
  background: url("../img/maxresdefault.jpg") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Headline Styling */

h1 {
  
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font-size: 5em;
  font-family: Brush Script MT, serif, sans-serif;
  font-weight: lighter;
  color: #FAFAD2;

}

/* Login and Registration Form Main Styles */

.login_page {
  width: 100%;
  max-width: 450px;
  padding: 2% 0 0;
  margin: auto;
}

.form {
  position: relative;
  max-width: 450px;  
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;  
  margin: 0 5px;
  padding: 45px;
  margin: 30px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  resize: both;
} 

.form input {
  font-family: "Roboto", sans-serif;
  outline: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  resize: vertical;
}

/*  Button Styling */

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FF4500;
  width: 100%;;
  border: 0;
  padding: 15px;
  color: #FAFAD2;;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;

}

.form button:hover, .form button:active {
  background: #FFA500;
}


/* Styling for Form Message */

.form .message {
  text-decoration: none;
  color: aliceblue;
  margin-left: 10px;
  font-size: 1em;
}

.form .message a {
  color: #FFA500;
  text-decoration: none;
  margin-left: 10px;
}


.form .login_form {
  display: none;
}



/* Media Queries for Mobile Devices*/


@media (max-width: 600px) {
    .form {
      width: 85%;      
    }
}

@media screen and (min-width: 601px) {
    h1 {
      font-size: 5em;
    }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.5em;
  }
}





